-e .
aiohappyeyeballs==2.7.1
    # via aiohttp
aiohttp==3.14.3
    # via zello-bridge
aiosignal==1.4.0
    # via aiohttp
attrs==26.1.0
    # via aiohttp
cffi==2.1.1 ; platform_python_implementation != 'PyPy'
    # via cryptography
cryptography==50.0.1
    # via zello-bridge
frozenlist==1.8.0
    # via
    #   aiohttp
    #   aiosignal
idna==3.19
    # via yarl
multidict==6.8.0
    # via
    #   aiohttp
    #   yarl
propcache==0.5.2
    # via
    #   aiohttp
    #   yarl
pycparser==3.0 ; implementation_name != 'PyPy' and platform_python_implementation != 'PyPy'
    # via cffi
pyjwt==2.14.0
    # via zello-bridge
pyogg @ git+https://github.com/TeamPyOgg/PyOgg@4118fc40067eb475468726c6bccf1242abfc24fc
    # via zello-bridge
typing-extensions==4.16.0 ; python_full_version < '3.13'
    # via
    #   aiohttp
    #   aiosignal
yarl==1.24.5
    # via aiohttp
